@tailwind base;
@tailwind components;
@tailwind utilities;

.input-style {
  @apply w-full p-3 border rounded-lg outline-none focus:ring-2 focus:ring-indigo-400;
}

.btn-style {
  @apply w-full py-3 text-white transition bg-indigo-600 rounded-lg hover:bg-indigo-700;
}
body{
background:#b0b0b0;
}
.brand-card{
display:flex;
align-items:center;
justify-content:center;
background:white;
padding:25px;
border-radius:15px;
border:1px solid #eee;
transition:all .3s ease;
}

.brand-card img{
height:40px;
object-fit:contain;
}

.brand-card:hover{
transform:translateY(-5px);
box-shadow:0 10px 20px rgba(0,0,0,0.1);
}