<div class="p-10">

    <h1 class="mb-6 text-2xl font-bold">
        📦 All Orders
    </h1>

    <!-- Orders Table -->
    <table class="w-full bg-white border shadow">

        <tr class="bg-gray-200">
            <th class="p-3">ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Total</th>
            <th>Date</th>
            <th>Action</th>
            <th>Order Details</th>
            <th>Invoice</th>
        </tr>

        <tr *ngFor="let order of orders" class="text-center border-t">

            <td>{{order.id}}</td>
            <td>{{order.name}}</td>
            <td>{{order.phone}}</td>
            <td class="font-bold text-green-600">₹{{order.total}}</td>
            <td>{{order.created_at | date}}</td>
            <td>

                <button
                    *ngIf="order.status?.toLowerCase() === 'pending'"
                    (click)="acceptOrder(order.id)"
                    class="px-3 py-1 text-white bg-green-600 rounded">

                    Pending

                </button>

                <span
                    *ngIf="order.status?.toLowerCase() === 'accepted'"
                    class="font-bold text-amber-700">

                    Accepted

                </span>

            </td>
            <td>
                <button
                    (click)="viewDetails(order.id)"
                    class="px-3 py-1 text-white bg-indigo-600 rounded">
                    View
                </button>
            </td>
            <td><button
                    (click)="downloadInvoice(order)"
                    class="px-3 py-1 text-white bg-blue-600 rounded">
                    Invoice
                </button></td>
        </tr>

    </table>

    <!-- Order Details -->
    <div *ngIf="selectedOrderItems.length > 0"
        class="p-6 mt-8 bg-white rounded shadow">

        <h2 class="mb-4 text-xl font-bold">
            🧾 Order Items
        </h2>

        <div *ngFor="let item of selectedOrderItems"
            class="flex justify-between mb-2">
            <img
                [src]="'http://localhost:5000/images/' + item.image"
                width="80" />
            <span>{{item.name}} (x{{item.quantity}})</span>
            <span>{{item.description}}</span>
            <span>₹{{item.price}}</span>
        </div>
    </div>

</div>